{% extends 'base.html.twig' %}

{% block title %}Consulter les sorties{% endblock %}

{% block body %}

    {{form_start(filterForm)}}
    {{ form_row(filterForm.search) }}
    <button>Soumission</button>
    {{form_end(filterForm)}}

{% endblock %}
