/***********************************************************
* Styles Globals
************************************************************/
body {
    margin: 0;
    /*background-color: #5eb5e0;*/
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Hachi Maru Pop', cursive;
}

.container {
    min-width: 360px;
    max-width: 1000px;
    margin: auto;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #D3D3D3;
}

a:hover {
    text-decoration: underline;
    color: darkorange;
    cursor: pointer;
}

/*img {
    max-width: 100%;
}*/

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/***********************************************************
* Table of welcome page (Flo)
************************************************************/

tbody {
    display: block;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 1.050em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

table {
    width: 90%;
    border-collapse: collapse;
    min-width: 100px;
    cursor: pointer;
    margin: 60px;
    border: 5px solid white;
}

table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

thead tr {
    background-color: #5eb5e0;
    color: #fff;
    text-align: center;
}

th td {
    padding: 15px 20px;
}

thead tr, th {
    border: 1px solid #D3D3D3;
    text-align: center;
}
tbody tr, td {
    border: 1px solid #D3D3D3;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #5eb5e0;
}

th {
    background-color: royalblue;
}



/***********************************************************
* Table of welcome page (Flo) - Scrollbar
************************************************************/





/***********************************************************
* Header
************************************************************/
.site-title {
    display: flex;
    align-items: center;
    font-size: 48px;
}

.site-title img {
    height: 48px;
    display: block;
    margin-right: 5px;
}

nav ul {
    margin: 5px 0;
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav a {
    display: block;
    padding: 5px 8px;
    margin-right: 10px;
}

.active {
    color: red;
}

/***********************************************************
* Main
************************************************************/
main {
    padding: 30px 0;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    min-height: 450px;
}

h1 {
    margin: 0;
    color: #D3D3D3;
}

/***********************************************************
* Footer
************************************************************/
footer {
    padding: 20px 0;
    text-align: center;
}


.alert-success {
    border: 1px solid green;
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

/***********************************************************
* Form
************************************************************/
label {
    display: block;
}

