{% extends 'base.html.twig' %}

{% block title %}CreateTrip{% endblock %}

{% block body %}


    <h2>Créer une sortie</h2>

    {{form_start(createTrip)}}
    {{form_widget(createTrip)}}
    <button type="submit" name="enregistrer">Enregistrer</button>
    <button type="submit" name="publier">Publier la Sortie</button>
    <button type="button">Annuler</button>
    {{form_end(createTrip)}}

{% endblock %}
