{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page n'a pas pu être trouvée.
    </p>
    <a href="{{ path('filter') }}">Retour à l'accueil</a>.
{% endblock %}
